{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="text-xl font-semibold mb-4">Edit Product Post</h2>

<form method="post" enctype="multipart/form-data" id="postForm">
  {% csrf_token %}

    {% include "posts/includes/all_fields_included.html" %}

  <!-- 🧾 Existing media (images/videos) -->
    {% include "media_app/current_images.html" %}

    {% include "posts/includes/extra_script_js.html" %}  
 

  <button type="submit" class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded">
    Update
  </button>
</form>

    {% include "posts/includes/js_imports.html" %}


{% endblock content %}
