{% extends "base.html" %}

{% block content %}
  <h2 class="text-xl font-semibold mb-4">Create Product Post</h2>

  <form method="post" enctype="multipart/form-data" id="postForm">
    {% csrf_token %}
    <!-- Manually render each Post field (excluding image1–image6) -->
    {% include "posts/includes/top_fields.html" %}
    <div>{{ form.color.label_tag }} {{ form.color }}</div>
    <div>{{ form.brand.label_tag }} {{ form.brand }}</div>
    <div>{{ form.condition.label_tag }} {{ form.condition }}</div>
    <div>{{ form.model_version.label_tag }} {{ form.model_version }}</div>
    <div>{{ form.technical_specifications.label_tag }} {{ form.technical_specifications }}</div>
    <div>{{ form.warranty.label_tag }} {{ form.warranty }}</div>
    {% include "posts/includes/location_fields.html" %}
    {% include "media_app/image_fields.html" %}
    {% include "posts/includes/social_fields.html" %}
    
    <!-- this script helps us register this fields so that the js file will use them for autopopulating email and phone number fields -->
    {% include "posts/includes/extra_script_js.html" %}
    <button type="submit" class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded">
      Submit
    </button>
  </form>

<!-- import scripts -->
    {% include "posts/includes/js_imports.html" %}
  {% endblock content %}
