{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load profile_tags %}
{% load post_filters %}
{% load time_filters %}
{% load follow_tags %}

{% block body_class %}platform-page post-detail-page{% endblock body_class %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'glocalization_app/css/02-platform-layout.css' %}">
<link rel="stylesheet" href="{% static 'glocalization_app/css/post-detail/post-detail.css' %}">
{% endblock extra_head %}

{% block site-header-content %}
<div class="feed-nav header">
    <span class="feed-nav-icon-container">
        <a href="{% url 'post_home' %}"
           class="nav-link js-back-link"
           title="Back"
           data-page="back">
            <span class="nav-link__icon">
                {% include 'icons/detail-page/back-botton.html' %}
            </span>
            <span class="nav-link__label">Back</span>
            <span class="nav-link__indicator"></span>
        </a>
    </span>
</div>
{% endblock site-header-content %}

{% block content %}
<main class="platform-feed">
    <div class="feed-content container-fluid">

        <div>
            <h1>Password Reset Complete</h1>
            <p>Your password has been set. You may go ahead and log in now.</p>
            <a href="{% url 'login' %}">Log in</a>
        </div>
    </div>
</main>
{% include "posts/includes/js_imports.html" %}
{% endblock content %}