{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
  <div class="main_headers">
    <h2>Check your email 📩</h2>
  </div>

  <div class="forms_container">
    <div class="alert alert-info mt-3">
      <p>We've emailed you instructions for setting your password.</p>
      <p>Please be patient — you should receive them shortly!</p>
      <p class="mb-0">Thank you for your understanding.</p>
    </div>
  </div>

  <br>
  <a href="{% url 'login' %}" class="btn btn-primary mt-3">Back to Login</a>
</div>
{% endblock content %}
