  <!-- Image Inputs -->
  <label for="image1">Image 1:</label><input type="file" name="image1"><br>
  <label for="image2">Image 2:</label><input type="file" name="image2"><br>
  <label for="image3">Image 3:</label><input type="file" name="image3"><br>
  <label for="image4">Image 4:</label><input type="file" name="image4"><br>
  <label for="image5">Image 5:</label><input type="file" name="image5"><br>
  <label for="image6">Image 6:</label><input type="file" name="image6"><br>

  <!-- 🆕 Preview of new selected images -->
  <div id="newImagePreviewContainer" class="flex flex-wrap gap-3 mt-4 mb-6"></div>
