  <!-- ✅ Image Preview Script -->
  {% load static %}
  <script src="{% static 'js/forms/autofill_user_fields.js' %}"></script>
  <script src="{% static 'js/forms/location_visibility.js' %}"></script>
  <script src="{% static 'js/forms/location_dropdown.js' %}"></script>

  <script src="{% static 'js/media_app/preview_handler.js' %}"></script>
  <script src="{% static 'js/media_app/file_inputs.js' %}"></script>
  <script src="{% static 'js/person/town_sync.js' %}"></script>
  <script src="{% static 'js/forms/autofill_user_fields_location_editpage.js' %}"></script>

  <!-- <script src="{% static 'js/forms/continents/african_states_external.js' %}"></script> -->
  <!-- <script src="{% static 'js/forms/location_unlocker.js' %}"></script> -->
  <!-- <script src="{% static 'js/location_dependency_manager.js' %}"></script> -->
  <!-- <script src="{% static 'js/post_form.js' %}"></script> -->