        <!-- Location Fields with wrapper -->
    <div class="field-wrapper">
      <p id="location_field_continent">
          Continent: <br/>
          {{ form.post_continent }}
          <!-- {{ form.post_continent_input }} -->
      </p>
    </div>
    <div class="field-wrapper">
      <p id="location_field_country">
          Country: <br/>
          {{ form.post_country }}
          <!-- {{ form.post_country_input }} -->
      </p>
    </div>
    <div class="field-wrapper">
      <p id="location_field_state">
          State/Province: <br/>
          {{ form.post_state }}
          <!-- {{ form.post_state_input }} -->
      </p>
    </div>
    <div data-town-sync>
      <div class="field-wrapper">
        <p id="location_field_town">
          Town:<br/>
          {{ form.post_town }}
          <span class="town-input-field">
            <span class="town-input-instruction">
            If your town is not listed, please type it here:<br/>
            </span> 
            {{ form.post_town_input }}        
          </span>
        </p>
      </div>
    </div>