{% extends 'base.html' %}

{% block title %}{{ person.user.username }}'s Profile{% endblock title %}

{% block content %}
    <h1>{{ person.user.username }}'s Profile</h1>

    {% if person.person_profile_picture %}
        <img src="{{ person.person_profile_picture.url }}" alt="Profile Picture" class="img-fluid">
    {% endif %}

    <p><strong>Business Name:</strong> {{ person.business_name }}</p>
    <p><strong>About:</strong> {{ person.about }}</p>
    <p><strong>Website:</strong> {{ person.website }}</p>
{% if user == user.profile.user %}
    <a href="{% url 'person:person_profile_edit' %}" class="btn btn-primary">Edit Profile</a>
    <a href="{% url 'person:person_profile_delete' %}" class="btn btn-danger">Delete Profile</a>
    <a href="{% url 'person:toggle_business_name' %}" class="btn btn-secondary">Toggle Business Name Display</a>
{% endif %}

{% endblock content %}