{% load static %}
<script src="{% static 'js/person/location_reset.js' %}"></script>
<script src="{% static 'js/person/location_filter.js' %}"></script>
<script src="{% static 'js/person/town_sync.js' %}"></script>
<script src="{% static 'js/accounts/follow.js' %}"></script>

<script src="{% static 'js/post_render_onload.js' %}"></script>
<script src="{% static 'js/media-carousel.js' %}"></script>
<script src="{% static 'js/post_scope_filter.js' %}"></script>
<script src="{% static 'js/01-frontend/post-detail/image-fullscreen-viewer.js' %}"></script>