/* Pure CSS Design System - Main Import File */
/* Apple-inspired, X-refined */

/* Foundation */
@import url('00-reset.css');
@import url('01-variables.css');
@import url('02-base.css');
@import url('03-typography.css');
@import url('04-layout.css');

/* Components */
@import url('05-components/navigation.css');
@import url('05-components/cards.css');
@import url('05-components/buttons.css');
@import url('05-components/forms.css');
@import url('05-components/alerts.css');

/* Utilities & Animations */
@import url('06-utilities.css');
@import url('07-animations.css');

@import url('05-components/footer.css');