{% extends "base.html" %}

{% block content %}
  <h2 class="text-xl font-semibold mb-4">Seek Service</h2>

  <form method="post" enctype="multipart/form-data" id="postForm">
    {% csrf_token %}
 
    <!-- 🔽 Manually render each field (excluding image1–image6) -->
   <!-- am using the "include" in order to fetch template data from a seperate file this is in order to avoid retyping similar code over and over again -->
    {% include "seekers/includes/top_fields.html" %}
    {% include "seekers/includes/extras_fields.html" %}
    {% include "seekers/includes/location_fields.html" %}
    {% include "media_app/image_fields.html" %}
    {% include "posts/includes/social_fields.html" %}
    
    <!-- this script helps us register this fields so that the js file will use them for autopopulating email and phone number fields -->
    {% include "posts/includes/extra_script_js.html" %}
    <button type="submit" class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded">
      Submit
    </button>
  </form>
<!-- import scripts -->
    {% include "posts/includes/js_imports.html" %}

  {% endblock content %}
