{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="text-xl font-semibold mb-4">Edit Your Request</h2>

<form method="post" enctype="multipart/form-data" id="postForm">
  {% csrf_token %}
    <!-- 🔽 Manually render each field (excluding image1–image6) -->
   <!-- am using the "include" in order to fetch template data from a seperate file this is in order to avoid retyping similar code over and over again -->
    {% include "seekers/includes/all_fields_included.html" %}
    
  <!-- 🧾 Existing media (images/videos) -->
    {% include "media_app/current_images.html" %}

    {% include "posts/includes/extra_script_js.html" %}  
 

  <button type="submit" class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded">
    Update
  </button>
</form>

<!-- import scripts -->
    {% include "posts/includes/js_imports.html" %}
  {% endblock content %}
